<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
</head>
<body>
	<table>
		<% for (let i = 0; i < rows.length; i++) { %>
			<tr>
				<th></th>
				<td><%= rows[i].book_name %></td>
				<td><%= rows[i].aut_name %></td>
				<td><%= rows[i].cate_descrip %></td>
				<td><%= rows[i].pub_name %></td>
				<td><%= rows[i].book_price %></td>
			</tr>
		<% } %>
	</table>
</body>
</html>
